* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/tests export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/phpunit.xml export-ignore
/pint.json export-ignore
/eslint.config.js export-ignore
/tsconfig.json export-ignore
/vite.config.ts export-ignore
/pnpm-lock.yaml export-ignore
/pnpm-workspace.yaml export-ignore
/package.json export-ignore
/README.md export-ignore
/public/build/* export-ignore
